/Test
/TS_v2_dataload
Analysis/data/h5ad/TS_Blood.h5ad
Analysis/data/h5ad/TS_Lung.h5ad
Analysis/data/h5seurat/TS_Blood.h5seurat
Analysis/data/h5seurat/TS_Lung.h5seurat
Analysis/data/priors/motif_prior_names_2024.tsv
Analysis/Rdata/blood_object.rds
Analysis/Rdata/bloodScorpionOutput.Rdata
Analysis/Rdata/lung_object.rds
Analysis/Rdata/lungScorpionOutput.Rdata
Analysis/Rdata/temp_cd4_positive_t_cell_bloodScorpionOutput.Rdata
Analysis/Rdata/temp_cd4_positive_t_cell_lungScorpionOutput.Rdata
Analysis/Rdata/temp_cd8_positive_t_cell_bloodScorpionOutput.Rdata
Analysis/Rdata/temp_cd8_positive_t_cell_lungScorpionOutput.Rdata
Analysis/Rdata/temp_monocyte_bloodScorpionOutput.Rdata
Analysis/Rdata/temp_monocyte_lungScorpionOutput.Rdata
Analysis/Rdata/temp_platelet_bloodScorpionOutput.Rdata
Analysis/Rdata/temp_type_ii_pneumocyte_lungScorpionOutput.Rdata
Analysis_v2/data/rds/TS_v2_Blood.rds
Analysis_v2/data/rds/TS_v2_Lung.rds
Analysis_v2/data/priors/motif_prior_names_2024.tsv
data/TS_All_Tissues.zip
data/TS_All_Tissues/h5seurat/cell_type_counts.Rdata
data/TS_All_Tissues/h5seurat/TS_Bladder.h5seurat
data/TS_All_Tissues/h5seurat/TS_Blood.h5seurat
data/TS_All_Tissues/h5seurat/TS_Bone_Marrow.h5seurat
data/TS_All_Tissues/h5seurat/TS_Eye.h5seurat
data/TS_All_Tissues/h5seurat/TS_Fat.h5seurat
data/TS_All_Tissues/h5seurat/TS_Heart.h5seurat
data/TS_All_Tissues/h5seurat/TS_Kidney.h5seurat
data/TS_All_Tissues/h5seurat/TS_Large_Intestine.h5seurat
data/TS_All_Tissues/h5seurat/TS_Liver.h5seurat
data/TS_All_Tissues/h5seurat/TS_Lung.h5seurat
data/TS_All_Tissues/h5seurat/TS_Lymph_Node.h5seurat
data/TS_All_Tissues/h5seurat/TS_Mammary.h5seurat
data/TS_All_Tissues/h5seurat/TS_Muscle.h5seurat
data/TS_All_Tissues/h5seurat/TS_Pancreas.h5seurat
data/TS_All_Tissues/h5seurat/TS_Prostate.h5seurat
data/TS_All_Tissues/h5seurat/TS_Salivary_Gland.h5seurat
data/TS_All_Tissues/h5seurat/TS_Skin.h5seurat
data/TS_All_Tissues/h5seurat/TS_Small_Intestine.h5seurat
data/TS_All_Tissues/h5seurat/TS_Spleen.h5seurat
data/TS_All_Tissues/h5seurat/TS_Thymus.h5seurat
data/TS_All_Tissues/h5seurat/TS_Tongue.h5seurat
data/TS_All_Tissues/h5seurat/TS_Trachea.h5seurat
data/TS_All_Tissues/h5seurat/TS_Uterus.h5seurat
data/TS_All_Tissues/h5seurat/TS_Vasculature.h5seurat
data/Tabula_Sapiens_metadata.csv


